<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
  html {
    min-height: 100%;
  }

  body {
    background: linear-gradient(
      rgb(173, 169, 150),
      rgb(242, 242, 242),
      rgb(219, 219, 219),
      rgb(234, 234, 234)
    );
    background-size: cover;
  }
</style>
<script src="js/bootstrap.min.js"></script>
<title><%= tittle %></title>
